%h2
  = link_to l(:label_planning_manager_plural), :action => :index
  &#187; 
  = @planning_manager.user

#content-users
  =render :partial => 'worker'

- html_title(l(:label_planning_manager_plural), @planning_manager.user, l(:label_administration))
