.confirm_time{
  table.list{
    border: none;
    th{
      border: 1px solid #d7d7d7;
    }
    .users_issues{
      display: none;
    }

  }
  .user_head{
    th{
      background: #ffffff;
      text-align: left;
      border: none !important;
      .opened:before, .closed:before{
        border: 1px solid #000;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        width: 16px;
        height: 16px;
        text-align: center;
        margin-right: 5px;
        vertical-align: middle;
        line-height: 0.8;
      }
      .opened:before{
        content: '-';
      }
      .closed:before{
        content: '+';
      }
    }
  }

}